## Learning numpy

In [1]:
'''
numpy works on the concept of vectorization
operations are point to point
'''

import numpy as np

arr = np.array([1, 2, 3, 4, 5])
type(arr)

numpy.ndarray

In [3]:
arr = arr.astype("float")
arr

# np.float as parameter is depricated

array([1., 2., 3., 4., 5.])

In [4]:
nums = np.arange(1, 10)

In [5]:
nums.shape

(9,)

In [10]:
nums = nums.reshape((1, 9))
nums.shape

(1, 9)

In [11]:
nums.T

array([[1],
       [2],
       [3],
       [4],
       [5],
       [6],
       [7],
       [8],
       [9]])

In [13]:
arr2 = np.zeros((1, 10))

In [15]:
arr2

array([[0., 0., 0., 0., 0., 0., 0., 0., 0., 0.]])

In [16]:
ran = np.random.randint((1, 10))
ran

array([0, 6])

In [18]:
ran = np.random.randint(0, 10, (3, 4))
ran

array([[4, 3, 7, 1],
       [0, 1, 7, 6],
       [9, 0, 5, 1]])

In [19]:
ran.shape

(3, 4)

In [20]:
ran[0, 2]

7

In [21]:
ran[:2, :2]

array([[4, 3],
       [0, 1]])

In [22]:
arr1 = np.array([1, 2, 3, 4])
arr2 = np.array([10, 11, 12, 13])

arr1 + arr2

array([11, 13, 15, 17])

In [23]:
arr1 * arr2

array([10, 22, 36, 52])

In [24]:
arr1.dot(arr2)    # matrix multiplication via dot

120

In [25]:
arr1.cumprod()

array([ 1,  2,  6, 24], dtype=int32)

In [26]:
arr2 = np.array([2, 1, 4, 3])
arr2.argsort()

# Provides indices of array if it was sorted

array([1, 0, 3, 2], dtype=int32)

In [27]:
mat = np.random.randint(1, 11, (4, 4))

In [28]:
mat

array([[ 8,  2, 10,  5],
       [ 2,  1,  5,  5],
       [ 7,  2,  1,  8],
       [ 8,  4,  2,  9]])

In [30]:
mat.sum()

79

In [31]:
mat.sum(axis = 0)

array([25,  9, 18, 27])

In [33]:
mat.sum(axis = 1)

array([25, 13, 18, 23])

## Broadcasting

In [36]:
# numpy expands one dimension to suit a math. operation

mat

array([[ 8,  2, 10,  5],
       [ 2,  1,  5,  5],
       [ 7,  2,  1,  8],
       [ 8,  4,  2,  9]])

In [37]:
col_means = mat.mean(axis = 0)

In [38]:
col_means

array([6.25, 2.25, 4.5 , 6.75])

In [39]:
mat - col_means

array([[ 1.75, -0.25,  5.5 , -1.75],
       [-4.25, -1.25,  0.5 , -1.75],
       [ 0.75, -0.25, -3.5 ,  1.25],
       [ 1.75,  1.75, -2.5 ,  2.25]])

In [40]:
col_sds = mat.std(axis = 0)

In [41]:
z = (mat - col_means)/col_sds

In [42]:
z

array([[ 0.70352647, -0.22941573,  1.57142857, -0.98019606],
       [-1.70856429, -1.14707867,  0.14285714, -0.98019606],
       [ 0.30151134, -0.22941573, -1.        ,  0.70014004],
       [ 0.70352647,  1.60591014, -0.71428571,  1.26025208]])

In [43]:
# iris = np.genfromtext("path of file which contains homogenous data", delimiter = ",")

## Boolean indexing

In [44]:
arr1 = np.random.randint(1, 10, 10)

In [45]:
arr1

array([5, 4, 9, 6, 4, 9, 1, 3, 4, 9])

In [46]:
arr1 > 6

array([False, False,  True, False, False,  True, False, False, False,
        True])

In [47]:
data = dict(zip(arr1, arr1 > 5))

In [48]:
data

{5: False, 4: False, 9: True, 6: True, 1: False, 3: False}

In [50]:
arr1[arr1 > arr1.mean()]

array([9, 6, 9, 9])

In [51]:
np.where(arr1 > 3)

(array([0, 1, 2, 3, 4, 5, 8, 9], dtype=int32),)

In [52]:
# numpy uses lists, pandas uses dict

## Pandas

In [53]:
import pandas as pd

In [55]:
s1 = pd.Series([10, 20, 30, 40, 50])

In [57]:
s1.shape

(5,)

In [59]:
s2 = pd.Series({"Kolkata": 100, "Ranchi": 80, "Patna": 140})

In [60]:
s2

Kolkata    100
Ranchi      80
Patna      140
dtype: int64

In [61]:
s2.mean()

106.66666666666667

In [64]:
# dataframe is a nested dict

df1 = pd.DataFrame({"Age" : {"Ram": 34, "Shyam": 56}, "ID" : {"Ram": 3124, "Shyam": 3456}})

In [70]:
df1

       Age    ID
Ram     34  3124
Shyam   56  3456

In [71]:
df1.values

array([[  34, 3124],
       [  56, 3456]], dtype=int64)

In [72]:
df1.columns

Index(['Age', 'ID'], dtype='object')

In [73]:
df1.iloc[0]

Age      34
ID     3124
Name: Ram, dtype: int64

In [74]:
df1.iloc[1]

Age      56
ID     3456
Name: Shyam, dtype: int64

In [75]:
df1.loc["Ram"]["Age"]

34

## CSV

In [76]:
housing = pd.readcsv("path", header = 0, delimiter = ",")

AttributeError: module 'pandas' has no attribute 'readcsv'